@using SportsORM.Models;
<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            @foreach (var item in ViewBag.WomensLeagues)
                {
                @item.Name <br>
                }
            <li>...all leagues where sport is any type of hockey</li>
            @foreach (var item in ViewBag.Hockey)
            {
                @item.Sport<br>
            }
            <li>...all leagues where sport is something OTHER THAN football</li>
            @foreach (var item in ViewBag.Football)
            {
                @item.Name<br>
            }
            <li>...all leagues that call themselves "conferences"</li>
            @foreach (var item in ViewBag.Conferences)
            {
                @item.Name<br>
            }
            <li>...all leagues in the Atlantic region</li>
            @foreach (var item in ViewBag.Atlantic)
            {
                @item.Name<br>
            }
            <li>...all teams based in Dallas</li>
            @foreach (var item in ViewBag.Dallas)
            {
                @item.Location
                @item.TeamName<br>
            }
            <li>...all teams named the Raptors</li>
            @foreach (var item in ViewBag.Raptors)
            {
                @item.Location<br>

                @item.TeamName
                
                
                <br>
            }
            <li>...all teams whose location includes "City"</li>
            @foreach (var item in ViewBag.City)
            {
                @item.Location
                @item.TeamName
            }
            <li>...all teams whose names begin with "T"</li>
            @foreach (var item in ViewBag.T)
            {
                @item.TeamName
                @item.Location<br>
            }
            <li>...all teams, ordered alphabetically by location</li>

            @foreach (var item in ViewBag.Location)
            {
                @item.Location
            }
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            @foreach(var item in ViewBag.Decend)
            {
                <pre>@item.Location @item.TeamName</pre>
            }
            <li>...every player with last name "Cooper"</li>
            @foreach (var item in ViewBag.Cooper)
            {
                <pre>@item.FirstName @item.LastName</pre>
            }
            <li>...every player with first name "Joshua"</li>
            @foreach (var item in ViewBag.Josh)
            {
                <pre>@item.FirstName @item.LastName</pre>
            }
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            @foreach (var item in ViewBag.NotJosh)
            {
                <pre>@item.FirstName @item.LastName
                    
                </pre>
            }
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
            @foreach (var item in ViewBag.Or)
            {
                <pre>@item.FirstName @item.LastName</pre>
            }

        </ol>
    </div>
</div>